* {
  margin: 3px;
}

button {
  display: flex;
  background-color: lightblue;
  color:white;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  align-items: center;
}

img {
  border-radius: 50%;
  width: 50%;
  text-align: center;
}

table {
  width: 100%;
}
