* {
  margin: 5px;
}



table {
  display: flex;
  flex-direction: row;
}


.table-heading {

}

tr {
  /* display: block;
  float: left; */
}
th,
td {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 6px;
}
