* {
  margin: 5px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
align-content: center;
}

img {
  border-radius: 50%;
  width: 50%;
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

td {
  text-align: center;
}
