* {
  margin: 5px;
}

tbody {
  display: flex;
  flex-direction: column;
}

tr {
  /* display: block;
  float: left; */
}
th,
td {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 6px;
}
