* {
  margin: 10px;
}

img {
  object-fit: contain;
  width: 10vh;
  border-radius: 50%;
}

.header-container {
  display: grid;
  grid-gap: 4;
  grid-auto-columns: repeat(auto-fit, minmax(100px, 1fr));
  
}
