form {
  display: block;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  border-radius: 5px;
}

input {
  padding: 10px;
  text-decoration: none;
  border-radius: 10px;
  border: 1px solid #555;
}

button {
  background-color: #5e7ba8;
  color: white;
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 20px;
  border: none;
  text-align: center;
}
