form {
  display: block;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  border-radius: 5px;
}

@media only screen and (max-width: 600px) {
  form {
    flex-wrap: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 60%;
  }
}

input {
  padding: 10px;
  text-decoration: none;
  border-radius: 10px;
  border: 1px solid #555;
  font-size: 15px;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  input {
    padding: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}

button {
  background-color: #5e7ba8;
  color: white;
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 20px;
  border: none;
  text-align: center;
}
